<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel='stylesheet' href='{{ site.path }}/stylesheets/stylesheet.css' media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>1kcodesnippets.github.io by 1kcodesnippets</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>1kcodesnippets.github.io</h1>
        <h2></h2>

        <section id="downloads">
          <a href="https://github.com/1kcodesnippets" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h1>
<a id="1000-code-snippets" class="anchor" href="#1000-code-snippets" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>1000 code snippets</h1>

<p>code snippets and random musings about programming, algorithms and such. This is mostly for me, but perhaps you will find it useful too.</p>
      </section>
    </div>

    
  </body>
</html>
